html, body {
  background: #282c37;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;

  h1 {
    text-align: center;
    font-size: 2rem;
  }
}

footer {
  flex-grow: 0;
  box-sizing: border-box;
  padding: 1rem;
}

.instances {

  .instance {
    padding: 1rem;
    text-align: center;
    border: 1px solid #d9e1e8;
    border-radius: 5px;

    &.dead,
    &.closed {
      background: #df405a44;
    }

    &.approval {
      background: #ca8f0444;
    }

    &.open {
      background: #79bd9a44;
    }

    th {
      margin: .5em;
    }

    td {
      padding: .5em;
    }

    .name .title {
      font-size: 1.2em;
      font-weight: bold;
    }

    .version {
      text-align: left;
    }

    .time,
    .statuses,
    .logins,
    .registrations {
      text-align: right;
    }

    .time {
      font-variant-numeric: tabular-nums;
    }

    a {
      color: orange;
      text-shadow: 0 0 1px black;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
