html, body {
  background: #282c37;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;

  h1 {
    text-align: center;
    font-size: 2rem;
  }
}

footer {
  flex-grow: 0;
  box-sizing: border-box;
  padding: 1rem;
}

.instances {

  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;

  .instance {
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    border: 1px solid #d9e1e8;
    border-radius: 5px;

    &.dead,
    &.closed {
      background: #df405a55;
    }

    &.approval {
      background: #ca8f0455;
    }

    &.open {
      background: #79bd9a55;
    }

    .name {
      font-size: 2rem;
      font-weight: bold;
    }

    a {
      color: #6364ff;
      text-shadow: 0 0 1px black;
      text-decoration: none;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
}
