html, body { background: #282c37; color: white; display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh; margin: 0; padding: 0; }

main { flex-grow: 1; }
main h1 { text-align: center; font-size: 2rem; }

footer { flex-grow: 0; box-sizing: border-box; padding: 1rem; }

.instances .instance { padding: 1rem; text-align: center; border: 1px solid #d9e1e8; border-radius: 5px; }
.instances .instance.dead, .instances .instance.closed { background: #df405a44; }
.instances .instance.approval { background: #ca8f0444; }
.instances .instance.open { background: #79bd9a44; }
.instances .instance th { margin: .5em; }
.instances .instance td { padding: .5em; }
.instances .instance .name .title { font-size: 1.2em; font-weight: bold; }
.instances .instance .version { text-align: left; }
.instances .instance .time, .instances .instance .statuses, .instances .instance .logins, .instances .instance .registrations { text-align: right; }
.instances .instance .time { font-variant-numeric: tabular-nums; }
.instances .instance a { color: orange; text-shadow: 0 0 1px black; text-decoration: none; font-weight: bold; }

.invisible { display: none; }
