html, body {
  background: #282c37;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;

  h1 {
    text-align: center;
    font-size: 2rem;
  }
}

footer {
  flex-grow: 0;
  box-sizing: border-box;
  padding: 1rem;
}

.instances {

  .instance {
    padding: 1rem;
    text-align: center;
    border: 1px solid #d9e1e8;
    border-radius: 5px;

    &.dead,
    &.closed {
      background: #df405a44;
    }

    &.approval {
      background: #ca8f0444;
    }

    &.open {
      background: #79bd9a44;
    }

    th {
      margin: .5em;
    }

    td {
      padding: .5em;
    }

    .name .title {
      font-size: 1.2em;
      font-weight: bold;
    }

    .version {
      text-align: left;
    }

    .time,
    .statuses,
    .logins,
    .registrations {
      text-align: right;
    }

    .time {
      font-variant-numeric: tabular-nums;
    }

    a {
      color: orange;
      text-shadow: 0 0 1px black;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 760px) {
  table.instances {
    &, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr.instance {
      margin: 0 0 1rem 0;

      td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;

        &:not(.name):not(.registration) {
          padding-left: 50%;
          text-align: right;
        }

        &:before {
          position: absolute;
          left: 1em;
          width: 45%;
          padding-right: 1em;
          white-space: nowrap;
          text-align: left;
        }
      }

      td:nth-of-type(2):before {
        content: 'Version';
      }

      td:nth-of-type(3):before {
        content: 'Response time';
      }

      td:nth-of-type(4):before {
        content: 'Weekly statuses';
      }

      td:nth-of-type(5):before {
        content: 'Weekly logins';
      }

      td:nth-of-type(6):before {
        content: 'Weekly registrations';
      }
    }
  }
}

.invisible {
  display: none;
}
