<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>한국 마스토돈 서버 가입 현황</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>
  <body>
    <main>
      <h1>한국 마스토돈 서버 가입 현황</h1>
      {% for instance, status in statuses %}
        <div>
          <div class="name">{{ instance }}</div>

          {% if status['alive'] %}
          <p class="data registrations">가입 가능 여부:
            {% if status['registrations'] %}
              {% if status['approval_required'] %}
                <span class="approval">승인 필요✔️</span>
              {% else %}
                <span class="yes">가능✅</span>
              {% endif %}
              <a href="https://{{ instance }}/about">들어가기</a>
            {% else %}
              <span class="no">불가능❌</span>
              <a href="https://{{ instance }}/about">살펴보기</a>
            {% endif %}
          {# <p class="data users">사용자 수: {{ status['users'] }}</p> #}
          {% else %}
          <p>서버 상태 확인 불가</p>
          {% endif %}
        </div>
      {% endfor %}
    </main>
  </body>
</html>
