<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>한국 연합우주 서버 현황</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>
  <body>
    <main>
      <h1>한국 연합우주 서버 현황</h1>
      <table class="instances">
        <thead>
          <tr>
            <th>이름</th>
            {# <th>소프트웨어</th> #}
            <th>버전</th>
            <th>응답시간</th>
            <th>주간 게시물</th>
            <th>주간 로그인</th>
            <th>주간 가입</th>
            <th>가입</th>
          </tr>
        </thead>
        <tbody>
        {% for instance, status in statuses %}
          {% if not status['alive'] %}
            {% set status_class = 'dead' %}
          {% elif not status['open_registrations'] %}
            {% set status_class = 'closed' %}
          {% elif status['approval_required'] %}
            {% set status_class = 'approval' %}
          {% else %}
            {% set status_class = 'open' %}
          {% endif %}

          <tr class="instance {{ status_class }}">
            <td class="name">
              <span class="title">{{ status['name'] }}</span>
              <br/><a href="https://{{instance}}/">{{ instance }}</a>
            </td>
            {# <td class="software">{{ status['software'] }}</td> #}
            <td class="version">{{ status['version'] }}</td>
            <td class="time">{{ '%0.3f s' | format(status['response_time']|float) }}</td>
            <td class="statuses">{{ status['statuses'] }}</td>
            <td class="logins">{{ status['logins'] }}</td>
            <td class="registrations">{{ status['registrations'] }}</td>
            <td class="registration">
              {% if status['alive'] %}
                {% if status['open_registrations'] %}
                  {% if status['approval_required'] %}
              <p class="approval">승인 필요✔️</p>
                  {% else %}
              <p class="yes">가입 가능✅</p>
                  {% endif %}
                {% else %}
              <p class="no">가입 불가능❌</p>
                {% endif %}
              {% else %}
              <p>확인 불가</p>
              {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </main>
    <footer>
      <p> Made by @jarm&#64;qdon.space </p>
    </footer>
  </body>
</html>
